body {
    font-family: 'Roboto', sans-serif;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}


p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}


.rounded {
    border-radius:.50rem!important;
}


.modal-backdrop {
    opacity:0.9 !important;
}

.injured_yellow {
  background-color: yellow !important;
  color:black !important;
}

.table .injured_yellow a {
    color: #2B3E50 !important;
}


.fa-ambulance {
  color: white !important;
  vertical-align: bottom !important;  
  cursor: pointer !important;
}

.fa-id-badge{
  color: white !important;
  cursor: pointer !important;
}



label.error{
	color:red;
	font-family:verdana, Helvetica;
}

/*#date_for_season {
	width: 65px;
}

#date {
	width: 65px;
}*/

#leaderboard {
  border-radius: 10px !important;
  border-width: 2px !important;
  border-style: solid !important;
  /*border-color: rgba(0, 128, 255, 0.9) !important;
  width: 90%;
  padding-top: 1%;
  margin: 0px auto;
  float: none;*/
}

div#leaderboard_wrapper {
    margin-top: -25px;
}

.row {
  padding-bottom: 15px;
}

.jumbotron {
     padding: 1rem 0 0 0 !important;
}




/*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 575.98px) {

  .hr_hitter_heads {
    background-image: url('../images/HRP_TitleGraphic-01.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .table .injured_yellow a {
      color: #2B3E50 !important;
  }

}



.popover {   
    max-width: 600px !important;
    width: 500px !important;
}

h3.popover-header{
    background-color: yellow;
    text-align: center;
    color:#343a40;
    font-weight: bold;
}

.popover-body{
    background-color: white;
    color:#2b3e50;
    font-weight: bold;
}

.404_knoblauck {
    background-image: transparent url('../images/errors/ck.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  

