body {
    font-family: 'Roboto', sans-serif;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}


p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}


.rounded {
    border-radius:.50rem!important;
}


.modal-backdrop {
    opacity:0.9 !important;
}


label.error{
	color:red;
	font-family:verdana, Helvetica;
}

/*#date_for_season {
	width: 65px;
}

#date {
	width: 65px;
}*/

#leaderboard {
  border-radius: 25px !important;
  border-width: 2px !important;
  border-style: solid !important;
  /*border-color: rgba(0, 128, 255, 0.9) !important;
  width: 90%;
  padding-top: 1%;
  margin: 0px auto;
  float: none;*/
}


